body {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;

}

header {
    border: 5px #D0D6B5;
    background-color: #498467;
    padding: 40px 20px;
    text-align: center;
    
    

}
nav {
    border: solid #63C132;
    background-color: #358600;
    

}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0px;
} 

article {
    border: solid #6d8a96;
    background-color: #a7a5c6;
    padding: 10px;
    

};

* {
    color: #66CED6 ;
font-family: comic sans-serif Arial, Helvetica, sans-serif;
}



.panda-container {
    text-align: center;
    margin-top: 30px;
}
.panda-image {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
   ul {
   padding-left: 30px;
   margin-top: 10px;
   margin-bottom: 20px;
   line-height: 1.6;
   }